<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="vertical-align">

    <form novalidate (ngSubmit)="doRegister()" [formGroup]="formRegister">
      <ion-row justify-content-center padding-bottom>

        <ion-col ion-row>

          <ion-item>
            <ion-label text-center stacked class="large-text">Nome</ion-label>
            <ion-input text-center type="text" [(ngModel)]="name" formControlName="name" [class.error1]="!formRegister.controls.name.valid && formRegister.controls.name.dirty" placeholder="Digite o seu nome"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="(formRegister.get('name').hasError('minlength') ||formRegister.get('name').hasError('required') ) && formRegister.get('name').touched">
            <div class="error" *ngIf="formRegister.get('name').hasError('required') && formRegister.get('name').touched">
              <ion-note>Este campo é necessário</ion-note>
            </div>
            <div class="error" *ngIf="formRegister.get('name').hasError('minlength') && formRegister.get('name').touched">
              <ion-note>Este campo precisa ter no mínimo 6 caracteres</ion-note>
            </div>
          </ion-item>

          <ion-item>
            <ion-label text-center stacked class="large-text">E-mail</ion-label>
            <ion-input text-center type="text" [(ngModel)]="email" formControlName="email" [class.error1]="!formRegister.controls.email.valid && formRegister.controls.email.dirty"
              placeholder="Digite o seu nome de usuário"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="( formRegister.get('email').hasError('minlength') || formRegister.get('email').hasError('pattern') ||formRegister.get('email').hasError('required') ) && formRegister.get('email').touched">
            <div class="error" *ngIf="formRegister.get('email').hasError('required') && formRegister.get('email').touched">
              <ion-note>Este campo é necessário</ion-note>
            </div>
            <div class="error" *ngIf="formRegister.get('email').hasError('pattern') && formRegister.get('email').touched">
              <ion-note>Endereço de e-mail inválido</ion-note>
            </div>
          </ion-item>

          <ion-item>
            <ion-label text-center stacked class="large-text">Senha</ion-label>
            <ion-input text-center type="password" [(ngModel)]="password" formControlName="password" [class.error1]="!formRegister.controls.password.valid && formRegister.controls.password.dirty"
              placeholder="Digite a sua senha"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="(formRegister.get('password').hasError('minlength') || formRegister.get('password').hasError('required') ) && formRegister.get('password').touched">
            <div class="error" *ngIf="formRegister.get('password').hasError('required') && formRegister.get('password').touched">
              <ion-note>Este campo é necessário</ion-note>
            </div>
            <div class="error" *ngIf="formRegister.get('password').hasError('minlength') && formRegister.get('password').touched">
              <ion-note>Este campo precisa ter no mínimo 6 caracteres</ion-note>
            </div>
          </ion-item>

          <ion-item>
            <ion-label text-center stacked class="large-text">Confirmação da senha</ion-label>
            <ion-input text-center type="password" [(ngModel)]="password_confirmation" formControlName="password_confirmation" [class.error1]="!formRegister.controls.password_confirmation.valid && formRegister.controls.password_confirmation.dirty"
              placeholder="Digite novamente a sua senha"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="(formRegister.get('password_confirmation').hasError('minlength') || formRegister.get('password_confirmation').hasError('required') ) && formRegister.get('password_confirmation').touched">
            <div class="error" *ngIf="formRegister.get('password_confirmation').hasError('required') && formRegister.get('password_confirmation').touched">
              <ion-note>Este campo é necessário</ion-note>
            </div>
          </ion-item>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col text-center no-padding>
          <ion-note no-padding>Já possui conta ?</ion-note>
          <ion-note (click)="goToLogin()" color="primary" no-padding>Entre!</ion-note>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col no-padding>
          <div text-center padding-left padding-right>
            <button ion-button outline round block type="submit" [disabled]="formRegister.invalid">Registrar-se</button>
          </div>
        </ion-col>

      </ion-row>

    </form>

  </ion-grid>

</ion-content>