<ion-card [@openClose]="isOpen ? 'open' : 'closed'">
  <ion-card-header text-center text-wrap>
    Você não possui nenhuma consulta agendada
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row text-wrap text-justify>
        Caso haja interesse em marcar uma consulta em alguma de nossas clinicas, clique no botão abaixo.
      </ion-row>
      <ion-row margin-top>
        <ion-col text-center>
          <button (click)="closeCard()" ion-button outline round color="danger">Fechar</button>
          <button (click)="showSchedules()" ion-button outline round>Consultas</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>